# 
# <p style="background-color:white;font-family:newtimeroman;color:#687BDF;font-size:150%;text-align:center;border-radius:20px 60px;">Lagos Hospitals Location Cluster Analysis</p>
![](https://global.ariseplay.com/amg/www.thisdaylive.com/uploads/LAGOS.jpg)

By Adedayo Adeboye Abiodun

In the context of this project, we extracted data pertaining to Lagos hospitals and their respective locations by utilizing Wikipedia APIs. This information becomes particularly valuable due to the significant patronage of Swatch wristwatches by doctors and hospital staff. These coordinates hold the potential to facilitate cluster analysis, aiding in the strategic decision-making process for the establishment of new Swatch retail outlets in Lagos.

By gathering this hospital data, we aim to identify patterns and clusters that can inform the optimal placement of Swatch retail locations in Lagos. Leveraging the preferences and needs of the medical community, this approach promises to enhance the effectiveness of Swatch's expansion strategy within the city.

*** ***


##  <p style="background-color:white;font-family:newtimeroman;color:#0C133C;font-size:100%;text-align:left;border-radius:20px 60px;">Import neccessary Python Libraries</p>

In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#### Web Scraping Using Beautifulsoap

In [2]:
url = "https://www.wellnesshealthcare.com.ng/hospitals-in-lagos-wellness-hmo/"

In [3]:
tables_bs  = requests.get(url).text

In [4]:
soup = BeautifulSoup(tables_bs,"html.parser")

In [5]:
#find a html table in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [6]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

4

#### Scrap all the four tables from Varable tables

In [7]:
# The first table as table_1

table_1 = tables[0]

In [8]:
#Get all rows from the table
Hospitals_lagos_list1 = pd.DataFrame(columns=["Hospital_area", "Name", "Address"])

for row in table_1.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    hospital_area_1 = cols[0].string # store the value in column 3 as color_name
    name_1 = cols[1].text # store the value in column 4 as color_code
    address_1 = cols[2].text # store the value in column 4 as color_code
    Hospitals_lagos_list1 = Hospitals_lagos_list1._append({"Hospital_area":hospital_area_1, "Name":name_1, "Address":address_1}, ignore_index=True)

    
Hospitals_lagos_list1.head()

,Hospital_area,Name,Address
0,Abule Egba,Hamkad Hospital Limited,"39, Olawale Cole Street, U – Turn Bus Stop, Ab..."
1,Abule Egba,P & G Medical Centre,"29, Sanni Labode Street, New Oko – Oba, Abule ..."
2,Agege,All Souls Infirmary Hospital & Maternity Centre,"8, Church Street. Elere, Agege Lagos"
3,Ajao Estate,Faith City Hospital,"16, Asa Afariogun Street, Off Osolo Way, Ajao ..."
4,Ajao Estate,Healing Field Hospital,"7, Ajibade Oke Street, off Asa Afariogun road,..."

In [9]:
# The first table as table_2

table_2 = tables[1]

In [10]:
#Get all rows from the table
Hospitals_lagos_list2 = pd.DataFrame(columns=["Hospital_area", "Name", "Address"])

for row in table_2.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    hospital_area_2 = cols[0].string # store the value in column 3 as color_name
    name_2 = cols[1].string # store the value in column 4 as color_code
    address_2 = cols[2].string # store the value in column 4 as color_code
    Hospitals_lagos_list2 = Hospitals_lagos_list2._append({"Hospital_area":hospital_area_2, "Name":name_2, "Address":address_2}, ignore_index=True)

    
Hospitals_lagos_list2.head()

,Hospital_area,Name,Address
0,Ajao Estate,Kupa Medical Centre,"4, Lateef Salami Street, Off International Air..."
1,Ajegunle Apapa,All Souls Clinic & Hospital,"255, Ojo Road, Ajegunle."
2,Ajegunle Apapa,Natafod Consultant Hospital,"104, Cemetery Road, Mosafejo Bus Stop, Amukoko."
3,Ajegunle Apapa,Prince & Princess Hospital,"191, Ojo Road, Ajegunle."
4,Akoka,Jon – Ken Specialist Hospital,"20, Sobande Street, Akoka."

In [11]:
# The first table as table_3

table_3 = tables[2]

In [12]:
#Get all rows from the table
Hospitals_lagos_list3 = pd.DataFrame(columns=["Hospital_area", "Name", "Address"])

for row in table_3.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    hospital_area_3 = cols[0].string # store the value in column 3 as color_name
    name_3 = cols[1].text # store the value in column 4 as color_code
    address_3 = cols[2].text # store the value in column 4 as color_code
    Hospitals_lagos_list3 = Hospitals_lagos_list3._append({"Hospital_area":hospital_area_3, "Name":name_3, "Address":address_3}, ignore_index=True)

    
Hospitals_lagos_list3.head()

,Hospital_area,Name,Address
0,Isheri,Spark View Hospital,"2A, Wilmer Street, Isheri."
1,Isheri – Olofin,Lota Medical Centre,"1, Mojisola Abass road, Isheri-Olofin"
2,Isolo,St. Emmanuel Clinic & Maternity Home,"2, Bola Ademuyiwa Street, Off Osolo Way, Isolo."
3,None,Living Spring Hospital & Maternity Home,"49, Alafia Avenue, Off Afolabi Obe Street, Off..."
4,Iyana – Ipaja,Mucas Hospital Ltd,"19, Ogun Street, Adealu Bus Stop, Dopemu."

In [13]:
# The first table as table_4

table_4 = tables[3]

In [14]:
#Get all rows from the table
Hospitals_lagos_list4 = pd.DataFrame(columns=["Hospital_area", "Name", "Address"])

for row in table_4.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    hospital_area_4 = cols[0].string # store the value in column 3 as color_name
    name_4 = cols[1].text # store the value in column 4 as color_code
    address_4 = cols[2].text # store the value in column 4 as color_code
    Hospitals_lagos_list4 = Hospitals_lagos_list4._append({"Hospital_area":hospital_area_4, "Name":name_4, "Address":address_4}, ignore_index=True)

    
Hospitals_lagos_list4.head()

,Hospital_area,Name,Address
0,Surulere,Havana Specialist Ltd,"115, Akerele Extention, Surulere."
1,Surulere,Lifeline Children’s Hospital,"133, Ogunlano Drive, Marshall Bus Stop, Suruel..."
2,Surulere,Mount Sinai Hospital,"30 Falodun Street, off Itire – Lawason road, S..."
3,Surulere,Olaniba Memorial Hospital,"10A, Olatunde Onimole Street, Aguda, Surulere."
4,Surulere,Optimal Specialist Hospital,"9, Gbaja Street, Surulere."


##  <p style="background-color:white;font-family:newtimeroman;color:#0C133C;font-size:100%;text-align:left;border-radius:20px 60px;">Combine All The Four Tables Using Concatenating</p>

In [15]:
Lagos_Hospital_list = pd.concat([Hospitals_lagos_list1,Hospitals_lagos_list2,Hospitals_lagos_list3,Hospitals_lagos_list4], ignore_index=True)

Lagos_Hospital_list.head()

,Hospital_area,Name,Address
0,Abule Egba,Hamkad Hospital Limited,"39, Olawale Cole Street, U – Turn Bus Stop, Ab..."
1,Abule Egba,P & G Medical Centre,"29, Sanni Labode Street, New Oko – Oba, Abule ..."
2,Agege,All Souls Infirmary Hospital & Maternity Centre,"8, Church Street. Elere, Agege Lagos"
3,Ajao Estate,Faith City Hospital,"16, Asa Afariogun Street, Off Osolo Way, Ajao ..."
4,Ajao Estate,Healing Field Hospital,"7, Ajibade Oke Street, off Asa Afariogun road,..."

****

##  <p style="background-color:white;font-family:newtimeroman;color:#0C133C;font-size:100%;text-align:left;border-radius:20px 60px;">DATA EXPLORATION</p>

### Clean the dataseta, chech isnulls

In [16]:
Lagos_Hospital_list.isnull()

     Hospital_area   Name  Address
0            False  False    False
1            False  False    False
2            False  False    False
3            False  False    False
4            False  False    False
..             ...    ...      ...
127          False  False    False
128          False  False    False
129          False  False    False
130          False  False    False
131          False  False    False

[132 rows x 3 columns]

In [17]:
Lagos_Hospital_list.isnull().sum()

Hospital_area    2
Name             0
Address          0
dtype: int64

### Iterate the row with isnulls

In [18]:
Lagos_Hospital_list[Lagos_Hospital_list.isnull().any(axis=1)]

,Hospital_area,Name,Address
63,None,Living Spring Hospital & Maternity Home,"49, Alafia Avenue, Off Afolabi Obe Street, Off..."
79,None,Lifeline Children Hospital,"1, Augustine Anozie Street, Off Adelowo Adede..."

In [19]:
Lagos_Hospital_list.loc[[63,79]]

,Hospital_area,Name,Address
63,None,Living Spring Hospital & Maternity Home,"49, Alafia Avenue, Off Afolabi Obe Street, Off..."
79,None,Lifeline Children Hospital,"1, Augustine Anozie Street, Off Adelowo Adede..."

### Drop the NONE Rows and Reset Index

In [20]:
Lagos_Hospital_list.drop(index = [63,79], inplace = True)

Lagos_Hospital_list.reset_index(inplace = True)

### Check For Isnull again

In [21]:
Lagos_Hospital_list.isnull().sum()

index            0
Hospital_area    0
Name             0
Address          0
dtype: int64

#  <p style="background-color:white;font-family:newtimeroman;color:#0C133C;font-size:100%;text-align:left;border-radius:20px 60px;">The Clean dataset then saved in the working directry in CSV format</p>

#

## The clean data obtained above was re_arranged to optimized our decoding coordinates results

### Read the datasets from the working directory, usind pandas DataFrame

In [22]:
Lagos_Hospital_list = pd.read_csv(r'C:\Users\user\Desktop\pofolio\DASH\Cluster ML/Lagos_Hospital_lists',
                                  usecols =[3,4],
                                  names = ['Name','Location'],
                                  skiprows= 1)

Lagos_Hospital_list.head()

,Name,Location
0,Hamkad Hospital Limited,"Hamkad Hospital Limited. 39, Olawale Cole Stre..."
1,P & G Medical Centre,"P & G Medical Centre. 29, Sanni Labode Street,..."
2,All Souls Infirmary Hospital & Maternity Centre,All Souls Infirmary Hospital & Maternity Centr...
3,Faith City Hospital,"Faith City Hospital. 16, Asa Afariogun Street,..."
4,Healing Field Hospital,"Healing Field Hospital. 7, Ajibade Oke Street,..."

## 
## Import GEOPY Libraries

In [23]:
pip install geopy

Requirement already satisfied: geopy in c:\users\user\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\user\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
# from geopandas.tools import geocode
from geopy.geocoders import ArcGIS
import pandas as pd
from geopy.geocoders import Nominatim

In [25]:
geolocator = ArcGIS()

In [26]:
Lagos_Hospital_list.head(2)

                      Name                                           Location
0  Hamkad Hospital Limited  Hamkad Hospital Limited. 39, Olawale Cole Stre...
1     P & G Medical Centre  P & G Medical Centre. 29, Sanni Labode Street,...

### Add new column called city_coord using variable geolocator

In [27]:
Lagos_Hospital_list['city_coord'] = Lagos_Hospital_list['Location'].apply(geolocator.geocode, timeout = 20)

Lagos_Hospital_list.head()

,Name,Location,city_coord
0,Hamkad Hospital Limited,"Hamkad Hospital Limited. 39, Olawale Cole Stre...","(Cole St, Lagos, Alimosho, Lagos, (6.659182741..."
1,P & G Medical Centre,"P & G Medical Centre. 29, Sanni Labode Street,...","(Abule-Egba, Lagos, (6.64144, 3.29323))"
2,All Souls Infirmary Hospital & Maternity Centre,All Souls Infirmary Hospital & Maternity Centr...,(All Souls Infirmary Hospital and Maternity Ce...
3,Faith City Hospital,"Faith City Hospital. 16, Asa Afariogun Street,...","(16 Afariogun St, Lagos, Oshodi-Isolo, Lagos, ..."
4,Healing Field Hospital,"Healing Field Hospital. 7, Ajibade Oke Street,...","(Ajibade, Lagos, (6.44856, 3.74724))"

### Check the type

In [28]:
type(Lagos_Hospital_list['city_coord'])

pandas.core.series.Series

### Check for isnull

In [29]:
Lagos_Hospital_list['city_coord'].isnull().sum()

0

In [30]:
Lagos_Hospital_list[Lagos_Hospital_list['city_coord'].isnull()]

Empty DataFrame
Columns: [Name, Location, city_coord]
Index: []

### Iterate city_coord column

In [31]:
Lagos_Hospital_list.iloc[0:129,2]

0      (Cole St, Lagos, Alimosho, Lagos, (6.659182741...
1                (Abule-Egba, Lagos, (6.64144, 3.29323))
2      (All Souls Infirmary Hospital and Maternity Ce...
3      (16 Afariogun St, Lagos, Oshodi-Isolo, Lagos, ...
4                   (Ajibade, Lagos, (6.44856, 3.74724))
                             ...
122    (Ahmadu Bello Way, Lagos, Lagos Island, Lagos,...
123    (Ogalade Clos & Ologun Agbaje St, Lagos, Eti-O...
124            (Reddington Hospital, (6.43331, 3.42015))
125    (Kasim Ekemode St & Saka Tinubu St, Lagos, Eti...
126    (Etim Inyang Cres, Lagos, Eti-Osa, Lagos, (6.4...
Name: city_coord, Length: 127, dtype: object

### Get the coordinates apply Lambda function

In [32]:
Lagos_Hospital_list['city_coord'] = Lagos_Hospital_list.iloc[0:129,2].apply(lambda x: (x.latitude, x.longitude))
Lagos_Hospital_list['city_coord']

0      (6.659182741211, 3.280092588548)
1                    (6.64144, 3.29323)
2                    (6.62807, 3.32078)
3      (6.555500010287, 3.339960008552)
4                    (6.44856, 3.74724)
                     ...
122    (6.442259167596, 3.400852941739)
123    (6.425289994304, 3.416489969667)
124                  (6.43331, 3.42015)
125    (6.427040009958, 3.422150017425)
126    (6.433149998278, 3.435974752806)
Name: city_coord, Length: 127, dtype: object

### Separate city_coord into lat and long columns

In [33]:
try:
    Lagos_Hospital_list['lat'] = Lagos_Hospital_list['city_coord'].str[0]
    Lagos_Hospital_list['long'] = Lagos_Hospital_list['city_coord'].str[1]
    
except TypeError:

    
    print ('Geocoding information for ' + "Location" + ' is not found' )
    print ('')

Lagos_Hospital_list.head()

,Name,Location,city_coord,lat,long
0,Hamkad Hospital Limited,"Hamkad Hospital Limited. 39, Olawale Cole Stre...","(6.659182741211, 3.280092588548)",6.659183,3.280093
1,P & G Medical Centre,"P & G Medical Centre. 29, Sanni Labode Street,...","(6.64144, 3.29323)",6.641440,3.293230
2,All Souls Infirmary Hospital & Maternity Centre,All Souls Infirmary Hospital & Maternity Centr...,"(6.62807, 3.32078)",6.628070,3.320780
3,Faith City Hospital,"Faith City Hospital. 16, Asa Afariogun Street,...","(6.555500010287, 3.339960008552)",6.555500,3.339960
4,Healing Field Hospital,"Healing Field Hospital. 7, Ajibade Oke Street,...","(6.44856, 3.74724)",6.448560,3.747240

In [34]:
# Save in the working directory 
Lagos_Hospital_list.to_excel("lagosHosptals.xlsx")

## 
### VISUALIZATION FOLIUM MAP

In [ ]:
pip install folium

In [ ]:
import pandas as pd
import folium

In [ ]:
# Read the dataset from working directory
datasets = pd.read_excel("lagosHosptals.xlsx")

In [ ]:
datasets.to_csv('lagosHosptals.csv')

In [ ]:
datasets_lat = datasets[["lat"]]
datasets_long = datasets[["long"]]

In [ ]:
geo_datas = datasets[["lat"]]

geo_datas["lon"] = datasets_long

In [ ]:
geo_datas["lon"]

In [ ]:
geo_datas["lat"]

In [ ]:
# # create map of Alimosho using latitude and longitude values
# fol_M = folium.Map(location=[6.465422, 3.406448], zoom_start=10)


# # add markers to map

# label = "{}".format('Lagos')
# label = folium.Popup([row["lat"], row["long"]], popup = row["Name"], parse_html=True)
# folium.CircleMarker(
#     [6.465422, 3.406448],
#     radius=10,
#     popup=label,
#     color='blue',
#     fill=True,
#     fill_color='#3186cc',
#     fill_opacity=0.8,
#     parse_html=False).add_to(fol_M)  

# fol_M  # Feel free to zoom in to see more

In [ ]:
geo_datas.to_csv('geo_datas.csv')

In [ ]:
def HospFol_M():
    fol_M = folium.Map(location=[6.465422, 3.406448], zoom_start=11.5)
    
    for index, row in datasets.iterrows():
        folium.Marker([row["lat"], row["long"]], popup = row["Name"]).add_to(fol_M)
    
    return fol_M

HospFol_M()

In [ ]:
HospFol_M().save("Hospital_around_Lagos.html")

## 
### CLUSTER ANALYSIS

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns; sns.set()

In [ ]:
K_clusters = range(1,10)
kmeans = [KMeans(n_clusters=i) for i in K_clusters]
Y_axis = geo_datas[['lon']]
X_axis = geo_datas[['lat']]
score = [kmeans[i].fit(Y_axis).score(Y_axis) for i in range(len(kmeans))]

In [ ]:
score

In [ ]:
type(score )

#### Visualize

In [ ]:


def Elbow_curve():
    eplot = plt.plot(K_clusters, score)
    plt.xlabel('Number of Clusters')
    plt.ylabel('Score')
    plt.title('Elbow Curve')
    
    return eplot

Elbow_curve()

In [ ]:
KMNs = KMeans(n_clusters = 6)

KMNs.fit(geo_datas)

Labels = KMNs.predict(geo_datas)

In [ ]:
Labels

In [ ]:
type(Labels)

In [ ]:
import plotly.express as px

In [ ]:
Centroid = KMNs.cluster_centers_
a = Centroid[:,0]
b = Centroid[:,1]

In [ ]:
plt.scatter(geo_datas["lat"], geo_datas["lon"], c = Labels, cmap='viridis', s=50)
plt.scatter(Centroid[:,0],Centroid[:,1], marker="o",color = "red", s=120, alpha=0.5)
plt.xlabel("Latitude")
plt.ylabel("Longitude")

In [ ]:
pip install geopandas

In [ ]:
from geopandas.tools import geocode
import pandas as pd
from geopy.geocoders import ArcGIS

In [ ]:
geolocator = ArcGIS()

In [ ]:
Centriod_df = pd.DataFrame(Centroid, columns=["Latitude","Longitude"])

Centriod_df['geo_coord'] = Centriod_df.apply(lambda row: (str(row.Latitude),str(row.Longitude)),axis=1)

Centriod_df['address'] = Centriod_df.apply(lambda row: geolocator.reverse(row.geo_coord).address,axis=1)

In [ ]:
Centriod_df.head()

In [ ]:
Centroid = Centriod_df[['Latitude','Longitude','address']]

Centroid

In [ ]:
def HospFol_centroid():
    fol_centroid = folium.Map(location=[6.465422, 3.406448], tiles = 'Stamen Toner', zoom_start=10)
    
    for index, row in Centroid.iterrows():
        folium.Marker([row["Latitude"], row["Longitude"]], popup = row["address"]).add_to(fol_centroid)
    
    return fol_centroid

HospFol_centroid()

In [ ]:
HospFol_centroid().save("Centroid_Hosp.html")

In [ ]:
pip install dash

In [ ]:
import folium
import dash
import pandas as pd
import numpy as np
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output, State
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns; sns.set()

In [ ]:
datasets = pd.read_excel("lagosHosptals.xlsx")

datasets_lat = datasets[["lat"]]
datasets_long = datasets[["long"]]

geo_datas = datasets[["lat"]]
geo_datas["lon"] = datasets_long

def HospFol_M():
    fol_M = folium.Map(location=[6.465422, 3.406448], zoom_start=11.5)
    
    for index, row in datasets.iterrows():
        folium.Marker([row["lat"], row["long"]], popup = row["Name"]).add_to(fol_M)
    
    return fol_M
HospFol_M()

In [ ]:
import folium
import dash
import pandas as pd
import numpy as np
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output, State
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns; sns.set()




app = dash.Dash(__name__)

# Read the dataset from working directory
datasets = pd.read_excel("lagosHosptals.xlsx")

datasets_lat = datasets[["lat"]]
datasets_long = datasets[["long"]]

geo_datas = datasets[["lat"]]
geo_datas["lon"] = datasets_long





def HospFol_M():
    fol_M = folium.Map(location=[6.465422, 3.406448], zoom_start=11.5)
    
    for index, row in datasets.iterrows():
        folium.Marker([row["lat"], row["long"]], popup = row["Name"]).add_to(fol_M)
    
    return fol_M




K_clusters = range(1,10)
kmeans = [KMeans(n_clusters=i) for i in K_clusters]
Y_axis = geo_datas[['lon']]
X_axis = geo_datas[['lat']]
score = [kmeans[i].fit(Y_axis).score(Y_axis) for i in range(len(kmeans))]

def Elbow_curve():
    eplot = plt.plot(K_clusters, score)
    plt.xlabel('Number of Clusters')
    plt.ylabel('Score')
    plt.title('Elbow Curve')
    
    return eplot




KMNs = KMeans(n_clusters = 8)
KMNs.fit(geo_datas)
Labels = KMNs.predict(geo_datas)

Centroid = KMNs.cluster_centers_
a = Centroid[:,0]
b = Centroid[:,1]

def clusterPlot():
    clustPlot = plt.scatter(geo_datas["lat"], geo_datas["lon"], c = Labels, cmap='viridis', s=50)
    plt.scatter(Centroid[:,0],Centroid[:,1], marker="o",color = "red", s=120, alpha=0.5)
    plt.xlabel("Latitude")
    plt.ylabel("Longitude")
    return clustPlot




# from geopandas.tools import geocode
# from geopy.geocoders import ArcGIS
# geolocator = ArcGIS()

# Centriod_df = pd.DataFrame(Centroid, columns=["Latitude","Longitude"])
# Centriod_df['geo_coord'] = Centriod_df.apply(lambda row: (str(row.Latitude),str(row.Longitude)),axis=1)
# Centriod_df['address'] = Centriod_df.apply(lambda row: geolocator.reverse(row.geo_coord).address,axis=1)

# Centroid = Centriod_df[['Latitude','Longitude','address']]
# Centroid

app.layout = html.Div(children=[ 
                                # TASK1: Add title to the dashboard

                                html.H1('SUPERMARKET BRANCHES PERFORMANCE',style={'textAlign':'center','color':'#7570b3','font-size':'48'}),


         
        html.Div(dcc.Graph(figure = HospFol_M() ),
                                                style={"background-color": "#161A1D",
                                                "padding": "60px",},),   
        
        
        html.Div(children=[
                        
                        html.Div(dcc.Graph(figure = Elbow_curve(), 
                                                style={"background-color": "#161A1D","text-align": "center",
                                                "height":"70vh"}),),
                        html.Div(dcc.Graph(figure = clusterPlot(),
                                                style={"background-color": "#161A1D","text-align": "center",
                                                "height":"70vh"}),),],
                        style={"display": "flex","background-color": "#0e1012","padding-bottom": "60px","justify-content": "space-around"}),      # Create an outer division 
                  
                    
                                # Graph layout
                               
                                # html.Div(dcc.Graph(figure=tree_fig)),
    
                                # html.Div([
                                #         html.Div(dcc.Graph( figure=bar_fig)),
                                #         html.Div(dcc.Graph(figure=pie_fig))
                                # ], style={'display': 'flex'}),
                                 
                                
                            
                                ],style={"height": "100vh"})




if __name__ == '__main__':
      app.run_server()